:root {
    /* palette colors */
    /* https://lospec.com/palette-list/oasis-klub-8 */
    --pal-deepblue: #2323c7;
    --pal-pastelblue: #7f70ff;
    --pal-lila: #c735fb;
    --pal-rosa: #dc65b1;
    --pal-bluegreen: #00a8b1;
    --pal-green: #37cfb7;
    --pal-sand: #e3d170;
    --pal-khaki: #fef3c0;

    /* targeted colors */
    --color-link: var(--pal-rosa);
    --color-emphasis: var(--pal-pastelblue);
    --color-titles: var(--pal-green);
    --color-highlight: var(--pal-bluegreen);
    --color-fg: #D7D7F7;
    --color-bg: #232333;

    /* fonts */
    --serious-font-fam: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --simple-font-fam: arial, sans-serif;
    font-size: 1rem;

}

html {
    size: 100%;
}

body {
    /* sizing */
    --body-width: calc(min(max(100vw - 320px, 320px), 720px));
    --body-left: calc((100vw - var(--body-width)) / 2);

    position: relative;
    left: var(--body-left);
    width: var(--body-width);

    /* flex */
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    /* font stuff */
    font-family: var(--simple-font-fam);
    color: var(--color-fg);
    background-color: var(--color-bg);
}

canvas {
    background-color: #000;
}

a, a:visited {
    color: var(--color-link);
    font-family: var(--simple-font-fam);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* emphasis */
    border-style: dotted;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: var(--color-fg);
    padding-bottom: 5px;
    padding-left: 5px;

    /* font */
    color: var(--color-titles);
    font-family: var(--serious-font-fam);
}

ul {
    padding-top: 10px;
    padding-bottom: 10px;
}

#header {
    --header-space: 0.25rem;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: center;

    /* button spacing */
    padding: var(--header-space);
}

button.header-link {
    /* flex */
    display: flex;
    align-items: center;
    justify-content: center;

    /* colors */
    background-color: var(--color-bg);
    color: var(--color-fg);

    /* border */
    border: solid;
    border-color: var(--color-link);
    border-radius: 10px;
    border-width: 2px;

    /* spacing */
    margin: var(--header-space);
}

.linkbox-wrapper {
    /* flex */
    display: inline-flex;
    align-content: center;
    justify-content: space-around;

    flex-direction: row;

    /* fill space */
    width: 100%;
}

.linkbox {
    /* flex */
    display: inline-flex;
    align-content: center;
    justify-content: center;

    flex-direction: column;
    flex-wrap: nowrap;
}

.linkbox > a {
    /* flex */
    display: flex;
    align-content: center;
    justify-content: center;

    /* colors */
    background-color: var(--color-bg);
    color: var(--color-fg);
    text-decoration: none;

    /* spacing */
    padding: 5px;
    margin: 5px;

    /* border */
    border: solid;
    border-color: var(--color-link);
    border-radius: 10px;
    border-width: 2px;
}
